# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# editor / OS
.idea/
.vscode/
.DS_Store
Thumbs.db


# Nul
nul 
